/* Global Reset */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  
  body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Header and Footer
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
   */
  /* footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  } */
  
  /* Navigation */
  /* nav {
    margin-bottom: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
  }
  
  nav a.active {
    font-weight: bold;
  } */
  
  /* Layout */
  /* .container {
    width: 80%;
    margin: 0 auto;
  }
  
  @media (max-width: 768px) {
    .container {
      width: 90%;
    }
  } */
  
